<html>
    <head>
        <title>売上システム（明細追加画面）</title>
    </head>
    <body>
        {% extends 'base.html' %}
        {% block header %}
        <form action="{% url 'salesapp:detail' %}" method="post">{% csrf_token %}
            商品：<select name="merchandise" calss="comb">
            {% for item in object_list %}
                <option>{{item.merchandise}}</option>
            {% endfor %}
            </select>
            <br>
            点数：<input name="amout" type="number" value=1 size="10">
            <br>
            <input type='submit' value='明細追加'>
        </form>

        <p style="color:blue">明細に追加しました。</p>
        <form action="{% url 'salesapp:detail' %}" method="delete">{% csrf_token %}
            <table border=1>
                売上明細
                <tr><th>削除</th><th>商品ID</th><th>商品</th><th>数量</th><th>金額</th></tr>
                {% for key1, value1 in goods.items %}
                    <tr><td><input type='radio' name="del"></td><td>{{ key1 }}</td>
                    {% for key2, value2 in value1.items %}
                    <td>{{ value2 }}</td>
                    {% endfor %}
                {% endfor %}
            </table>
            <input type='submit' value='削除'>
        </form>
        <a href="{% url 'salesapp:result' %}"><button>確定</button></a>
        {% endblock header %}
    </body>
</html>